body {
    background-color: bisque;
}

h1 {
    margin-left: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    border-style: none;
}

input:focus {
    outline: none;
}

button {
    margin-left: 150px;
    font-size: 20px;
    color: whitesmoke;
    background-color: darkgray;
    border-radius: 10px;
    border-style: none;
}

button:hover {
    cursor: pointer;
    color: darkgray;
    background-color: whitesmoke;
}

.container {
    width: 400px;
    margin: 0 auto;

}